<div ng-controller="TopNavController as vm">
    <section id="content" class="content">
        <div ng-form="navForm" class="col-lg-12" >
            <div class="col-lg-2">
                logo
            </div>
            <div class="col-lg-2">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Known Subreddits <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="choice in items">
                            <a href>{{choice}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <input type="text" ng-model="namedSearch" class="form-control" ng-enter="search()">
            </div>
            <div class="col-lg-4">

            </div>

        </div>

        <div class="col-lg-12" >
            <div  ng-repeat="post in posts">
                <div class="col-lg-12 post-block">
                    <div class="col-lg-1">
                        <div>
                            <i class="fas fa-arrow-up"></i>
                        </div>
                        <div>
                            {{post.karma}}
                        </div>
                        <div>
                            <i class="fas fa-arrow-down"></i>
                        </div>

                    </div>
                    <div class="col-lg-11">
                        <div>
                            <p style="font-size: 1.5em;">
                                {{post.title}}
                            </p>
                        </div>
                        <div>
                            <p style="font-size: 1.3em;">
                                Posted on: {{post.date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
